<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    {% extends "Navbar.html" %}
    {% block content %}
        {% block display %}
        {% endblock %}
        <ol>
            {% for archive in archive_list %}
            <li>
                <p>
                    Заголовок : {{archive[1]}}
                </p>
                <p>
                    Информация : {{archive[2]}}
                </p>
                <p>
                    Ссылка : <a href="/{{archive[3]}}">{{archive[3]}}</a>
                </p>
            </li>
            {% endfor %}
        </ol>
    {% endblock %}
</body>
</html>