{% extends "Files display.html" %}
{% block display %}
{% if 'username' in session and session['username'] == username %}
<form method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}
        {{ form.title }}
        {% for error in form.title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.info.label }}
        {{ form.info }}
        {% for error in form.info.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.file }}
        {% for error in form.file.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endif %}
{% if archive_list %}
<p>
    <a href="{{ url_for('static', filename=url) }}" download>
        <button class="alert">
            Скачать архив папки
        </button>
    </a>
</p>
{% endif %}
<h2>
    Файлы, содержащиеся в папке с названием {{ title }}:
</h2>
{% endblock %}
