<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    {% extends "Files display.html" %}
    {% block display %}

        <form method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <p>
            {{ form.title.label }}
            {{ form.title }}
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            </p>
            <p>
                {{ form.info.label }}
                {{ form.info }}
                {% for error in form.info.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </p>
            <p>
                {{ form.file }}
                {% for error in form.file.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
        <p>
            <a href="{{ url_for('static', filename=url) }}" download>
                <button class="alert">
                    Скачать архив папки
                </button>
            </a>
        </p>
        <h2>
            Файлы, содержащиеся в папке с названием {{ title }}:
        </h2>
    {% endblock %}
</body>
</html>