{% extends "Navbar.html" %}
{% block content %}
<h1>Загрузите файл</h1>
<form method="post" enctype="multipart/form-data" action="" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}
        {{ form.title }}
        {% for error in form.title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.info.label }}
        {{ form.info }}
        {% for error in form.info.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.file }}
        {% for error in form.file.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}