<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    {% extends "Navbar.html" %}
    {% block content %}
    <h1>Загрузите файл</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="archive">Выберите файл</label>
                <input type="file" class="form-control-file" id="archive" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    {% endblock %}
</body>
</html>